:root{
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-samll: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  
  --animation-duration: 300ms;
}

html,
body {
  margin: 0;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #5961f9 0%,
    #2afadf 40%,
    #f9fea5 100%
  );
  background-repeat: no-repeat;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  border-top: none;
  border-left: none;
  border-right:none;
  background-color: #d3d3d3;
  border-bottom: 1px solid black;
}

input[type=text]:focus {
  outline: none;
}

h1,
p {
  color: #204754;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  line-height: 2.8rem;
}

p:last-child {
  margin-bottom: -6px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border: 1px solid white;
  background-color: #5961f9;
  color: var(--color-white);
}

button:hover {
  background-color: white;
  border: 1px solid #5961f9;
  color:#5961f9;
  transition: all var(--animation-duration) ease-in
}
.modern__select:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  transition: all var(--animation-duration) ease-in
}

.site-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 10rem 2rem;
}

/* section {
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.namecard {
  display: flex;
  justify-content: center;
}

#nav {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0px;
  top:0px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
  text-align: center;
}

#real_time_view {
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
  margin-top: 100px;
}

#status {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  position: fixed;
  left: 50px;
  top: 100px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
}

#option {
  width: 200px;
  height: 400px;
  margin-bottom: 20px;
  padding: 4rem;
  background: white;
  border-radius: 8px;
  position: fixed;
  right: 50px;
  top: 100px;
  box-shadow: 0px 0px 0 1px transparentize(#204754, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
}
#textField__left__btn {
  margin:auto;
  font-size: var(--font-regular);
}

#textField__right__btn {
  margin: auto;
  font-size: var(--font-regular);
}
.namecard__view {
  margin-right: 30px;
  margin: auto;
}

.finish {
  padding: 0px 0px 0px 0px;
}

#finish__btn {
  width: 100%;
  height: 100%;
  background-color: #5961f9;
  margin: 0px 0px 0px 0px;
}

#finish__btn:hover {
  background-color: #5961f9;
  border: 1px solid white;
  color: white;
  transition: all var(--animation-duration) ease-in
}
.input {
  display:flex;
  margin-top: 30px;
  justify-content: center;
}

.select__div {
  text-align: center;
  margin-top: 10px;
}

#select__btn {
  font-size: var(--font-regular);
}

#nameField {
  margin-right: 10px;
}

#message__popup {
  text-align: center;
  font-size: var(--font-regular);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section:last-child {
  margin-bottom: 0;
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

[data-scroll='out'] {
  opacity: 0;
}